<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <p>My name is Richard and welcome to my blogs.</p><br>
        <p>This is my first Node.js project using npm packages such as Express, Morgan, Mongoose, and ejs.</p><br>
        <p>This Node project interacts with the MongoDB database.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>